---
import Tags from './tags.astro'

export type PostMetadata = {
  title: string
  date: string
  category: string
  tags: string[]
}

interface Props {
  post: PostMetadata
  href: string
}
const { post, href } = Astro.props
---

<style>
.listing {
  display: grid;
  grid-template-columns: 72px 72px 1fr auto;
  grid-template-rows: auto;
  column-gap: 0.25rem;
  margin-bottom: 0.25rem;

  & :hover {
    cursor: pointer;
    color: var(--color-accent);
    transition: color 300ms ease;
  }

  .created-at {
    font-family: var(--font-alt);
    color: var(--color-fg-alt);
    font-size: 0.875rem;
  }

  .category {
    font-family: var(--font-alt);
    color: var(--color-fg-alt);
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .title {
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :last-child {
    justify-content: end;
  }
}

@media (width <= 800px) {
  .listing {
    display: grid;
    grid-template-columns: 72px 72px 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 0.5rem;

    .title {
      grid-row: 2;
      grid-column: 1 / 5;
      text-overflow: inherit;
      white-space: normal;
    }
  }
}
</style>

<li class="listing">
  <span class="created-at">{post.date}</span>
  <span class="category">{post.category}</span>
  <a class="title" href={href}>{post.title}</a>
  <Tags tags={post.tags} />
</li>
